body .editor-styles-wrapper [data-align=left] .wp-block-cover,
body .editor-styles-wrapper [data-align=left] .wp-block-cover-image,
body .editor-styles-wrapper [data-align=right] .wp-block-cover,
body .editor-styles-wrapper [data-align=right] .wp-block-cover-image {
  min-width: 290px;
}
body .editor-styles-wrapper .block-editor-block-list__block,
body .editor-styles-wrapper .editor-post-title__block {
  padding-left: 15px;
  padding-right: 15px;
}
body .editor-styles-wrapper .block-editor-block-list__block .block-editor-block-list__block,
body .editor-styles-wrapper .editor-post-title__block .block-editor-block-list__block,
body .editor-styles-wrapper .block-editor-block-list__block .editor-post-title__block,
body .editor-styles-wrapper .editor-post-title__block .editor-post-title__block {
  padding-left: 0;
  padding-right: 0;
}
body .editor-styles-wrapper .block-editor-block-list__block .block-editor-block-list__block-edit {
  margin-left: 0;
  margin-right: 0;
}
body .editor-styles-wrapper p,
body .editor-styles-wrapper ol,
body .editor-styles-wrapper ul {
  margin-top: 20px;
  margin-bottom: 20px;
}
body .editor-styles-wrapper [data-block] {
  margin-top: 20px;
  margin-bottom: 20px;
}
body .editor-styles-wrapper .wp-block-columns > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-type="core/column"] > .block-editor-block-list__block-edit > div > .block-core-columns > .block-editor-inner-blocks {
  margin-top: -40px;
  margin-bottom: -40px;
}
@media (min-width: 600px) {
  body .editor-styles-wrapper .editor-post-title__block > div {
    margin-left: -16px;
    margin-right: -16px;
  }
  body .editor-styles-wrapper .block-editor-block-list__layout .block-editor-block-list__block[data-align=full] > .block-editor-block-list__block-edit {
    margin-left: auto;
    margin-right: auto;
  }
}
body .editor-styles-wrapper .wp-block-button {
  margin-bottom: 0;
}
@media (min-width: 600px) {
  body:not(.enable_sidebar) .editor-styles-wrapper .block-editor-block-list__layout .block-editor-block-list__block[data-align=full] > .block-editor-block-list__block-edit {
    margin-left: -74px;
    margin-right: -74px;
  }
}
